body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* top of the page*/
h1 {
    color: #252532;
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin-top: 28px;
    margin-left: 80px;
}

.horizontal-line {
    position: absolute;
    top: 75px; 
    left: 80px; 
    height: 10px; 
    width: 1825px; 
    background-color: #ccc;
    border-radius: 5px;
}

#Company {
    position: fixed;
    bottom: 0;   
    right: -40px;    
    transform: scale(0.6); 
}

#logo {
    position: absolute;
    top: 0;
    transform: scale(0.7);
}

#clock {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 50px;
    font-family: 'digital-7', sans-serif;
}
/* top of the page*/